

<div class="login-container" *ngIf="currentForm==='login'">
  <div class="login-form">
    <h2>Login</h2>
    <input #loginUsername placeholder="Username" /><br />
    <input #loginPassword type="password" placeholder="Password" /><br />
    <div class="centered-button">
      <button (click)="login(loginUsername.value, loginPassword.value)">Login</button>
    </div>
    <p>Don't have an account yet? You can <a (click)="setForm('register')"><u>register here!</u></a></p>
    <p>Forgot your password? Ask your admin for a reset-token and <a (click)="setForm('reset-pw')"><u>set a new password</u></a></p>
    <div class="impressum"><p><a href="https://www.uni-bielefeld.de/impressum/">Impressum</a></p></div>
  </div>
  </div>

  <div class="login-container" *ngIf="currentForm==='reset-pw'">
    <div class="login-form">
      <h2>Reset Password</h2>
      <input #loginUsername placeholder="Username" /><br />
      <input #loginPassword type="password" placeholder="New Password" /><br />
      <input #resetToken type="password" placeholder="Reset Token" /><br />
<!--       <p>Please answer the security question!</p>
      <input #securityQuestion type="password" placeholder="Answer" /><br /> -->
      <div class="centered-button">
        <button (click)="resetPassword(loginUsername.value, loginPassword.value, resetToken.value)">Reset Password</button>
      </div>
      <p>Don't have an account yet? You can <a (click)="setForm('register')"><u>register here!</u></a></p>
      <div class="impressum"><p><a href="https://www.uni-bielefeld.de/impressum/">Impressum</a></p></div>
    </div>
    </div>
  
  <div class="login-container" *ngIf="currentForm==='register'">
    <div class="login-form">
      <h2>Register</h2>

      <div class="course-selection">
        <label for="courses">For Course:</label>
        <select #courseSelection name="courses" id="cars">
          <option value="none">no selection</option>
          <option value="Exam_Preparation_DM">Data Mining: Exam Preparation</option>
          <!-- <option value="ITS_Course">Test course ITS</option> -->
          <!-- <option value="Intro_to_DM">Introduction to Data Mining</option> -->
          <option value="Intro_to_ML">Introduction to Machine Learning</option>
          <!-- <option value="Intro_to_PY">Introduction to Python</option> -->
          <!-- <option value="Intro_to_DS">Introduction to Data Security</option> -->
        </select>
      </div>

      <input #email placeholder="Email" /><br />
      <input #registerUsername placeholder="Username" /><br />
      <input #registerPassword type="password" placeholder="Password" /><br />

      <hr>
      <div class="checkbox-container">
      <div class="data-checkbox">
        <p>
          <input type="radio" id="radio-select-yes" name="consentRadio" #consentCheckboxYes/>
          <label for="radio-select-yes">Yes</label>
        </p>
        <p>
          <input type="radio" id="radio-select-no" name="consentRadio" #consentCheckboxNo/>
          <label for="radio-select-no">No</label>
        </p>
      </div>
            <label class="consent-label" for="data-checkbox">I consent to anonymized data collection for purely scientific purposes.</label>
      </div>
      <div class="checkbox-info">
        <div class="invisible-checkbox"></div>
        <p>
          <a (click)="showDataTermPopup()">Learn more about the data we gather and its potential uses.</a>
        </p>
        <app-data-terms-popup #dataTermsPopupComponent></app-data-terms-popup>
      </div>
      <hr>

    <div class="centered-button">
      <button (click)="register(email.value, registerUsername.value, registerPassword.value, consentCheckboxYes.checked, courseSelection.value)">Register</button>
    </div>
      <p>Do you already have an account? If so, you can <a (click)="setForm('login')"><u>login here!</u></a></p>
    </div>
  </div>
