<nav class="navbar">
    <div class="nav-brand">{{title}}</div>
    <ul class="nav-links">
      <li><a (click)="newTaskButtonClicked('previous')"><i class="arrow left" role="button"></i></a></li>
      <!-- <li><a href="#" (click)="newTaskButtonClicked('personal')">New Task</a></li> -->
      <li><a>{{task_name}}</a></li>
      <li><a (click)="newTaskButtonClicked('next')"><i class="arrow right" role="button"></i></a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#" (click)="emitProfileButtonClicked()">Profile</a></li>
    </ul>
  </nav>
