
.tutoring-grid-container { 
    display: grid; 
    grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr);  
    grid-template-rows: 1fr minmax(0, 10fr) minmax(0, 10fr);
    /* grid-template-rows: 1fr 10fr 10fr; */
    grid-template-areas: 
    "nav nav"
    "task code"
    "feedback code";
    gap: 0.5rem;
    height: 98%;
    width: 100%;
  }
.navbar {
    grid-area: nav;
    text-align: center;
}
.task-panel
{
    grid-area: task;
}
.feedback-panel {
    grid-area: feedback;
}
.code-panel
{
    grid-area: code;
}
