
<!-- Run Popup -->
<dialog #runDialog class="popup-dialog-container">
    <div class="popup-dialog">
        <p>Please select the input parameters of your experiment:</p>

        <form [formGroup]="runParametersForm">
            <!-- Other form controls go here -->
            <div class="argumentFields">
              <div *ngFor="let control of runFormArrayControls; let i = index">
                <label>{{control.get('argname')?.value}}:</label>
                <input [formControl]="$any(control).get('textField')" placeholder="Text Field {{ i + 1 }}">
              </div>
            </div>
          </form>

        <div class="ok-button-container">
            <button class="popup-dialog-button" (click)="runDialog.close()">
            Abort
            </button>
          <button class="popup-dialog-button" (click)="sendWithParameters()">
            Run
         </button>
        </div>
    </div>
  </dialog>
<!-- Action Panel with action buttons -->
<div class="action-buttons"> <!-- Added a new container for action buttons -->
    <button class="action-button" (click)="runButtonClicked()">Run</button>
    <!-- <button class="action-button">Feedback</button> -->
    <button class="action-button" (click)="submitButtonClicked()">Submit</button>
</div>

