<app-prism [code]=task_python_code [language]=code_language></app-prism>


<div><button mat-raised-button color="primary" (click)="submitButtonClicked()">submit</button></div>


  <form [formGroup]="form">
    <div class="code-container line-numbers">
      <textarea
        #textArea
        placeholder="Add your code"
        class="text-area-code-editor"
        formControlName="content"
        spellcheck="false"
      ></textarea>
      <pre
        aria-hidden="true"
        class="pre line-numbers"
        #pre
      ><code [ngClass]="['code', 'language-' + codeType]" #codeContent></code>
      </pre>
    </div>
  </form>

<h2>Submitted Code:</h2>
<app-prism [code]=submitted_code [language]=code_language></app-prism>
