<app-prism [code]=python_code [language]=code_language></app-prism>

  <form [formGroup]="form">
    <div class="code-container line-numbers">
      <textarea
        #textArea
        placeholder="Add your code component"
        class="text-area-code-editor"
        formControlName="content"
        spellcheck="false"
      ></textarea>
      <pre
        aria-hidden="true"
        class="pre line-numbers"
        #pre
      ><code [ngClass]="['code', 'language-' + codeType]" #codeContent></code>
      </pre>
    </div>
  </form>
